.outer-box{
    border-collapse: collapse;
}

.inner-box{
    border: 1px solid #000;
}

.wrapper{
    text-align: center;
}

.center{
    position: relative;
}

.bg{
    background-color: rgb(227, 222, 222);
    color: #000;
}

.bg-black{
    background-color: rgb(8, 8, 8);
    color: #fff;
}

p{
    background-color: rgb(238, 236, 237);
    color: #000;
}